<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
</head>
<body>
    <h1>Registro de Usuario</h1>
    <form method="POST" action="{{url_for('registro')}}">

        <div>
            <label for="username">Usuario:</label>
            <input type="text" id="username" name="username" required>
        </div>

        <div>
            <label for="correo">Correo:</label>
            <input type="email" id="correo" name="correo" required>
        </div>

        <div>
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required>
        </div>

        <div>
            <label for="apellido">Apellido:</label>
            <input type="text" id="apellido" name="apellido" required>
        </div>

        <div>
            <label for="rol">Rol:</label>
            <select id="rol" name="rol" required>
                <option value="profesor">Profesor</option>
                <option value="estudiante">Estudiante</option>
            </select>
        </div>

        <div>
            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" required>
        </div>

        <div>
            <input type="submit" value="Registrarse">
        </div>
        <div>
            <button><a href="login">Iniciar sesion</a></button>
        </div>
    </form>
</body>
</html>